body {
    background-color: rgb(224, 224, 224);
}

.main {
    display: grid;
    grid-template-columns: 20fr 80fr;
    background-color: rgb(232, 232, 232);
}

.menu {
    padding: 10px 0 10px 0;
    background-color: rgb(165, 250, 246);
}

.menu-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}
.menu-button:hover {
    background-color: rgb(210, 210, 210);
}

.container {
    padding: 10px;
}

.main-content {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    min-height: 200px;
}

.main-line {
    display: grid;
    grid-template-columns: 10fr 90fr;
    height: 45px;
    background-color: rgb(177, 177, 177);
    border: 1.5px solid black;
    text-align: center;
}

.line-button  {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

.last-line {
    background-color: rgb(190, 190, 190);
    height: 50px;
    margin-top: 20px;
}

